/* || general styles */

html {
  background-image: url("Universo-cinematico-de-marvel.webp");
  background-size: cover;
}

h1,
h2 {
  font-family: 'Rubik Moonrocks';
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 0.2em blue, 0 0 0.1em blue;
}

header p {
  font-size: 1cm;
  text-align: center;
  font-family: 'Press Start 2P';
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 0.2em blue, 0 0 0.1em blue;
}

/* section styles */

section article {
  width: 30.5%;
  float: left;
  border-radius: 1.5cm;
  height: 12cm;
  text-align: center;

}

article {
  background-image: url("space-4984262_1280.jpg");
  margin: 0.44cm;
  background-size: contain;
  color: firebrick;
}

section p {
  margin: 5px 0;
  font-family: 'Tangerine';
  font-size: 1cm;
  font-weight: bold;
}

section ul {
  margin-top: 0.4cm;
  text-align: left;
  font-family: 'Tangerine';
  font-size: 1cm;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}