/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Sedgwick Ave Display';
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 30%;
  float: left;
  border-radius: 1cm;
  height: 8cm;
  text-align: center;
}

article{
  background-color: aqua;
  margin: 0.3cm;
}

section p {
  margin: 5px 0;
  font-family: 'Tangerine';
}

section ul {
  margin-top: 0.5cm;
  text-align: left;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}